html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.titlebar {
  height: 30px;
  background: #b0b0b0;
  user-select: none;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
}
.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}
.titlebar-button:hover {
  background: #e0e0e0;
}

.wrapper {
  display: flex;
  flex-flow: row;
  flex: 100%;
  width: 100%;
  align-self: stretch;

}

.wrapper > * {
  flex: 1 100%;
}

#sidebar {
  flex: 0 150px;
  min-width: 150px;
}

.slider {
  background-color: darkgray;
  flex: 0 5px;
  cursor: col-resize;
}

.slider:hover {
  background-color: rgb(86, 126, 212);
}


#sidebar .controls {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5px;
  margin: 5px;
}

#filter {
  min-width: 100px;
  flex: 100%;
}

#notelist {
  list-style: none;
  padding-left: 5px;
  padding-right: 5px;
}

#notelist > li.active {
  font-weight: bold;
}

#notelist > li:hover {
  background-color: #e0e0e0;
}

.hidden {
  display: none!important;
  visibility: hidden!important;
}

.nav-main:hover {
  color: rgb(86, 126, 212);
}

#settings {
  padding: 5px;
}

#settings h1 {
  font-weight: bold;
}

.toolbar {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 5px;
}

.toolbar > input {
  flex: 100%;
}

.toolbar .button {
  border: 1px solid #b0b0b0;
  border-radius: 25%;
  width: 20px;
  height: 20px;  
  line-height: 20px;
  vertical-align: middle;
  text-align: center;
  padding-left:3px;
  padding-right:3px;
}

.toolbar > .spacer {
  width: 10px;
}

.toolbar .button:hover {
  background-color: #e0e0e0;
}

.toolbar > label {
  padding: 1px;
}

.toolbar .lni {
  line-height: inherit;
}

dialog .controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#taglist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5px;
  gap: 5px;
}

#taglist > div {
  flex: none;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  background-color: #d0d0d0;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

#taglist > div.active {
  background-color: #b0d0f0;
}

#view {
  padding-left: 5px;
  padding-right: 5px;
}

#view pre {
  background-color: #e0e0e0;
}

#view code {
  font-family: monospace;
  background-color: #e0e0e0;
}

#view table {
  border-collapse: collapse;
}

#view table, #view th, #view td {
  border: 1px solid black;
}

#view th {
  background-color: black;
  color: white;
}

#view tr:nth-child(2n) {
  background-color: #e0e0e0;
}

#info {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 5px;
}

#page-wrapper {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  height: 100%;
  border: 1px solid #e0e0e0;
}